.skills{
   width: 65%;
    float: right;
    margin-right: 30px;  
    background-color: white;
    text-align: left
    
 
}

.skillsHead{
    color: rgb(143, 143, 143);
      padding: 7px 0px 0 35px;
}
.skillsUL{
   list-style-type: none; 
   display: flex;
   
}

.skillsUL li{
    border: 1px solid black;
    margin-right: 10px;
    margin-top: 20px;

}