.acc{
    background-color: white;
 width: 65%;
    float: right;
    margin-right: 30px;
    text-align: left;

}

.accHeader{
    color: rgb(143, 143, 143);
    padding: 7px 0px 0 35px;
}

.cont2{
    padding: 7px 30px;
}