.aside{
    margin: 10px;
    float: left;
    background-color: white;
    width: 30%;
}
hr{
    border: 0.3px solid rgb(213, 221, 221);
    margin: 0 20px;
}



h1{
    font-family: "Roboto",sans-serif;
    font-size: 24px;
}

.shade{
    color: #919191;
}

h3{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}